@{
    ViewBag.Title = "Home Page";
}
<div>
    <p>

    </p>

</div>
<div class="jumbotron">
    <h1 class="site-title">Frequently Asked Questions</h1>
    <p class="lead">
        We know that pet care can raise a lot of questions, and the Montclair Veterinary clinic team is here to provide answers. We committed to keeping our clients informed and educated about your pet’s needs!
        Please scroll through this list of frequently asked questions about your pet’s needs.
        Click on your question to find our answer.
    </p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Online payment</h2>
        <p>
            Do I have to pay when I check out or do you bill?
            <ul>
                <li>
                    All payment is required at the time of check out.
                    What payment options do you accept?
                </li>
                <li>
                    Pay fast
                    I’ve forgotten my password, what do I do?
                </li>
                <li> 	If you’ve forgotten your password enter your email address after clicking on the My Account tab. We will send you a link that will help you get a new password.</li>

            </ul>
        </p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>

    <div class="col-md-4">
        <h2>
            Online shopping
        </h2>
        <p>
            What happens if an item I’ve purchased is out of stock?
            <ul>
                <li>
                    At Montclair veterinary clinic we try and ensure that every item we carry is in stock. If for some particular reason the item is not available, we will notify you by email or phone.
                </li>
                •	At Montclair veterinary clinic we try and ensure that every item we carry is in stock. If for some particular reason the item is not available, we will notify you by email or phone.
                <li>


                </li>
                <li>
                    How do I find items?
                    By Category
                    By clicking on the Brand Name on the Home page
                </li>

            </ul>
        </p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>

    <div class="col-md-4">
        <h2>Item management</h2>
        <p>
            Can I cancel a purchased item?
            <ul>
                <li>
                    •	Yes, you can as long as it not been dispatched. You must notify immediately by email.Phumelelegoba8@gmail.com or phone call 0840268025.
                </li>



            </ul>
        </p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
</div>