
@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container">

        <div class="row">


            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="~/Images/redvelvet.jpg" target="_blank">
                        <img src="~/Images/redvelvet.jpg" alt="Fjords" style="width:100%">
                        <div class="caption">
                            <a>RED VELVET CAKE.</a>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="~/Images/18403421_454209868248443_5515341597830525149_n.jpg" target="_blank">
                        <img src="~/Images/18403421_454209868248443_5515341597830525149_n.jpg" alt="Nature" style="width:100%">
                        <div class="caption">
                            <a>FRUIT CREME CAKE.</a>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="~/Images/2-tier-minion-cake_1.jpg" target="_blank">
                        <img src="~/Images/2-tier-minion-cake_1.jpg" alt="Fjords" style="width:100%">
                        <div class="caption">
                            <a>CHOCOLATE TUFFLE CAKE.</a>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="~/Images/5015.jpg" target="_blank">
                        <img src="~/Images/5015.jpg" alt="Lights" style="width:100%">
                        <div class="caption">
                            <a>CHEESE WEDDING CAKE.</a>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="~/Images/Cheese wedding cake.jpg" target="_blank">
                        <img src="~/Images/Cheese wedding cake.jpg" alt="Fjords" style="width:100%">
                        <div class="caption">
                            <a>WEDDING CAKES WITH RED FLOWERS.</a>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="~/Images/black-and-white-cakes-for-birthdays-16-stupendous-designs-by-heather-birthday-holiday.jpg" target="_blank">
                        <img src="~/Images/black-and-white-cakes-for-birthdays-16-stupendous-designs-by-heather-birthday-holiday.jpg" alt="Fjords" style="width:100%">
                        <div class="caption">
                            <a>MILK & DARK CHOCOLATE CAKE.</a>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="~/Images/toastedcoconut.jpg" target="_blank">
                        <img src="~/Images/toastedcoconut.jpg" alt="Fjords" style="width:100%">
                        <div class="caption">
                            <a>TOASTED COCONUT CAKE.</a>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="~/Images/spicycarrot.jpg" target="_blank">
                        <img src="~/Images/spicycarrot.jpg" alt="Fjords" style="width:100%">
                        <div class="caption">
                            <a>SPICY CARROT CAKE.</a>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="~/Images/tripleberry.jpg" target="_blank">
                        <img src="~/Images/tripleberry.jpg" alt="Fjords" style="width:100%">
                        <div class="caption">
                            <a>TRIPLEBERRY CAKE.</a>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="~/Images/expresso milk.jpg" target="_blank">
                        <img src="~/Images/expresso milk.jpg" alt="Fjords" style="width:100%">
                        <div class="caption">
                            <a>EXPRESSO MILK.</a>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="~/Images/cake-boss-wedding-cakes-with-red-flowers.jpg" target="_blank">
                        <img src="~/Images/cake-boss-wedding-cakes-with-red-flowers.jpg" alt="Fjords" style="width:100%">
                        <div class="caption">
                            <a>WEDDING CAKE WITH RED FLOWERS.</a>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="~/Images/germanchocolate.jpg" target="_blank">
                        <img src="~/Images/germanchocolate.jpg" alt="Fjords" style="width:100%">
                        <div class="caption">
                            <a>GERMAN CHOCOLATE CAKE.</a>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="~/Images/DSCF1436.jpg" target="_blank">
                        <img src="~/Images/DSCF1436.jpg" alt="Fjords" style="width:100%">
                        <div class="caption">
                            <a>WHITE CREAM CAKE </a>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="~/Images/HoneyComb.jpg" target="_blank">
                        <img src="~/Images/HoneyComb.jpg" alt="Fjords" style="width:100%">
                        <div class="caption">
                            <a>HONEYCOMB CAKE.</a>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="~/Images/Birthday-Cake-Spokane.jpg" target="_blank">
                        <img src="~/Images/Birthday-Cake-Spokane.jpg" alt="Fjords" style="width:100%">
                        <div class="caption">
                            <a ">FRESH DONUT DELIGHT CAKE.</a>
                        </div>
                    </a>
                </div>
            </div>

            </table>


            <td>
                <a href="@Url.Action("Index", "Home")" class="btn btn-default"><i class="fa fa-arrow-left"></i> Back to Home</a>
            </td>

        </div>
    </div>
    </div>

    <div class="waveborder">

        <img width="1090" height="100" src="http://utopiasalon.co.za/wp-content/themes/utopia/images/finalcurve.png" />




</body>
</html>
