@{
    /**/

    ViewBag.Title = "Home Page";

}
<div class="jumbotron">

    @*<center>Freshly Baked Bakery.</center>

        <img src="~/Images/Chocolate.jpg" alt="Chocolate" style="height:600px; width:800px;" />*@

    <a href="Home Page.html"></a>
    <body bgColor="LightPink">

        <body bgColor="Lightwhite">
            <div style="font-size:120%;font-family:Comic Sans MS;">
                <center> Welcome To Freshly Baked Bakery Store</center>
            </div>
</div>

<body>
    <marquee hspace="80" vspace="30"><img src="~/Images/spicycarrot.jpg" height="300" width="300"> <img src="~/Images/Strawberry.jpg" height="300" width="300"> <img src="~/Images/Chocolate.jpg" height="300" width="300"><img src="~/Images/spicycarrot.jpg" height="300" width="300"></marquee>
</body>

<div class="waveborder">

    <img width="1090" height="100" src="http://utopiasalon.co.za/wp-content/themes/utopia/images/finalcurve.png" />


    <div style="font-size:120%;font-family:Comic Sans MS;">
        <h2>Welcome to freshly baked</h2>
        <p>
            We are very passionate about creating and delivering only the best cakes.  Our bakery specializes in cakes for all kinds of celebration,
            from birthday cakes to wedding cakes.
            We offer a wide range of flavors. Our cake style is simple but elegant, with soft
            fine colors and diffrent spongy flavours, decorated by many kinds of edible treats.
        </p>
        There are a few of our favourites on our gallery where you can make your selection but we also cator to your custom needs, where
        we also get inspiration. We also have the most commited staff, from bakers to delivery staff.

        </p>



        <!------ Include the above in your HEAD tag ---------->
        <br />
        <div class="row justify-content-center">
            <div class="col-sm-4 " style="align-content:center">
                <div class="hero-widget well well-sm">
                    <div class="icon">
                        <i class="glyphicon glyphicon-shopping-cart" style="color:#00695c"></i>
                    </div>
                    <div class="text">

                        <label class="text-muted">FRESHLY BAKED BAKERY ONLINE STORE</label>


                    </div>
                    <div class="options">
                        <a href="@Url.Action("Index","Shopping")" class="btn btn-primary btn-outline btn-lg" style="outline-color:#00695c"><i class="glyphicon glyphicon-circle-arrow-right"></i> Proceed To Shop</a>
                    </div>
                </div>
            </div>



            </body>
